.CoursePageTopTeacher{
    width: 100%;
    margin: 40px 0;
    .CoursePageTopTeacher-bg{
        
        .TopTeacher-title{
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            @media (min-width: 992px) { 
                font-size: 40px;
            }
        }
        .TopTeacher-box{
            margin-top: 40px;
            width: 100%;
            border: none;
            padding: 24px 12px 24px 12px;
            border-radius: 25px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            @media (min-width: 992px) { 
                padding:0px;
            }
            .TopTeacher-img-box{
                width: 100%;
                .TopTeacher-img{
                    width: 100%;
                    height: auto;
                    border-radius: 25px;
                    object-fit: cover;
                    @media (min-width: 992px) { 
                        padding: 8px;
                    }
                }
            }
            
            .TopTeacher-content{
                padding: 16px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap:4px;
                @media (max-width: 992px) { 
                    padding: 16px 0px;
                }
                h5{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 1.5;
                }
                p{
                    font-weight: 400;
                    font-size: 14px;
                    color: #4b4b4b;
                }
            }
            .TopTeacher-content2{
                padding: 16px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 992px) { 
                    flex-direction: column;
                    padding: 0px;
                }
                .TopTeacher-num{
                    font-weight: 400;
                    font-size: 14px;
                    color: #4b4b4b;
                }
                .TopTeacher-evaluate{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        span{
                            color: #808080;
                        }
                    }
                }
            }
            

            
        }
        
    }
}

